<p id="notice"><%= notice %></p>

<p class="flex justify-center h3">
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<h1 class="flex justify-center">Listing Comments</h1>

<table class="mb3">
  <thead>
  <tr class="flex-container">
    <th class="flex-item">Content less</th>
    <th class="flex-item">Content more</th>
    <th class="flex-item">Email</th>
    <th class="flex-item">Up Vote</th>
    <th class="flex-item">Down Vote</th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr class="flex-container">
        <td class="flex-item p1"><%= comment.content_less %></td>
        <td class="more <%=comment.id%> flex-item p1">more</td>
        <td class="flex-item p1"><%= comment.email %></td>
        <td class="flex-item p1"><span class="up-count <%=comment.id%>" ><%= 4 %></span><span class="up <%=comment.id%> ml1" data-count=4>/\</span></td>
        <td class="flex-item p1"><span class="down-count <%=comment.id%>"><%= 5 %></span><span class="down <%=comment.id%> ml1" data-count=4>\/</span></td>
      </tr>

  <% end %>
  </tbody>
</table>

<%= form_tag  comment_topic_path , :method => 'post' do |f| %>
    <% if @comment.present? && @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field flex justify-center">
      <%= label_tag :content %><br>
      <%= text_area_tag 'comment[content]' %>
    </div>
    <div class="field flex justify-center">
      <%= label_tag :email %><br>
      <%= text_field_tag 'comment[email]' %>
    </div>
    <div class="actions flex justify-center">
      <%= submit_tag 'Comment' %>
    </div>
<% end %>
<p class="flex justify-center h3"> <%= link_to '< Back', topics_path %> </p>

<script type="text/javascript" charset="utf-8">

    $(".more").click(function(){
        id = this.classList[1]
        self = this
        $.ajax({
            url: "/more_comment?id="+id,
            success: function(response) {
                if(response.more != null)
                    $('.more.'+id).text(response.more)
            },
            error:function(){

            }
        })
    })
    $(".up").click(function(){
        id = this.classList[1]
        self = this
        $.ajax({
            url: "/vote?up=true&id="+id,
            success: function(response) {
                if(response.do == '1')
                    $('.up-count.'+id).text(response.more)
                var amount = parseFloat($('.up.'+id).data('count').toFixed(2));
            },
            error:function(){

            }
        })
    })
    $(".down").click(function(){
        id = this.classList[1]
        self = this
        $.ajax({
            url: "/vote?up=false&id="+id,
            success: function(response) {
                if(response.do == '1')
                    $('.up-count.'+id).text(response.more)
                var amount = parseFloat($('.up.'+id).data('count').toFixed(2));
            },
            error:function(){

            }
        })
    })
</script>
